#work-responses, #fun-responses, #transportation_survey2 {
    display: none;
  }


  /* #transportation_survey{
      background-color: aqua;
  }

  /* #transportation_survey2{ */
    /* background-color: blanchedalmond; */
/* }   */

/* checkbox{ */
    /* background-color: brown; */ */
/* } */
.page1 {
    background-color: rgb(46, 27, 4);
}
.page2 {

    background-color: aqua;
}